
project_id = "sjxbxkpegcnnfjbsxazo"

[api]
enabled = true
port = 54321
schemas = ["public", "storage"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322
shadow_port = 54320
major_version = 15

[studio]
enabled = true
port = 54323
api_url = "http://localhost"

[functions]
enabled = true
port = 54324

[functions.run-migrations]
verify_jwt = true

[functions.send-student-invite]
verify_jwt = true

[functions.send-tutor-invite]
verify_jwt = true

[functions.accept-invitation]
verify_jwt = true

[functions.get-invitation-by-token]
verify_jwt = true

[functions.google-oauth]
verify_jwt = true

[functions.google-calendar-sync]
verify_jwt = true

[functions.create-oauth-states-table]
verify_jwt = true

[inbucket]
enabled = true
port = 54325
smtp_port = 54326
pop3_port = 54327

[storage]
enabled = true
file_size_limit = 50000000

[auth]
enabled = true
site_url = "http://localhost:3000"
additional_redirect_urls = ["https://localhost:3000"]
jwt_expiry = 604800
enable_refresh_token_rotation = true
refresh_token_reuse_interval = 10
